body {
    margin:0;
    font-family: Arial;
    background: radial-gradient(circle, #0d0d1a, #000);
    color:white;
    text-align:center;
}

header {
    padding:20px;
    font-size:22px;
    color:#a855f7;
    font-weight:bold;
}

.panel {
    margin:15px;
    padding:15px;
    background:rgba(255,255,255,0.05);
    border-radius:15px;
    box-shadow:0 0 10px rgba(168,85,247,0.3);
}

button {
    padding:12px 18px;
    border:none;
    border-radius:10px;
    background:#a855f7;
    color:white;
    margin:5px;
    cursor:pointer;
}

button:active {
    transform:scale(0.95);
}

#damageText {
    color:#ff4d4d;
    font-size:20px;
    margin-top:10px;
    transition:0.3s;
}
